@import "tailwindcss";

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #ffffff;
  color: #0f172a;
}

body.dark {
  background-color: #0f172a; /* Темно-синий/серый фон вместо чисто черного */
  color: #f8fafc;
}